# Entorno virtual
.venv/
venv/
env/

# Claves y variables de entorno
.env
.env.*

# Cachés de Python
__pycache__/
*.py[cod]
*$py.class

# Cachés de herramientas
.mypy_cache/
.pytest_cache/

# Archivos de editor/IDE
.vscode/
.idea/
*.code-workspace

# Archivos del sistema
.DS_Store
Thumbs.db
